XML-Lab/lessons_XML1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="TimeTable">
<xs:complexType>
<xs:sequence>
    <xs:element name="item" maxOccurs="unbounded"> 
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/> 
				<xs:element name="teacher" type="xs:string"/> 
				<xs:element name="begin" type="xs:date"/> 
				<xs:element name="end" type="xs:date"/> 
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"></xs:attribute>
		</xs:complexType>
    </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>

